@using TravelTripProje.Models.Siniflar
@model List<iletisim>
@{
    ViewBag.Title = "YorumlarıListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mail Listele</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI SOYADI</th>
        <th>MAİL</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>SİL</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/MailSilme/@x.ID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
    </table>