@using TravelTripProje.Models.Siniflar
@model List<OtelYorumlar>
@{
    ViewBag.Title = "OtelYorumlarıListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Otel Yorumları Listele</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI ADI</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>OTEL BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Kullaniciadi</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            <td>@x.Otel.Baslik</td>
            <td><a href="/Admin/OtelYorumSilme/@x.ID" class="btn btn-danger" disabled>Sil</a></td>
            <td><a href="/Admin/OtelYorumGetir/@x.ID" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }
</table>